@import "../../styles/shared.styles.scss";

header {
  background-color: rgb(41, 50, 78);
  // color: rgb(255, 255, 255);
}

.navbar {
  background-color: rgb(41, 50, 78) !important;
}

.navbar .container {
  background-color: rgb(41, 50, 78) !important;
}

.navbar .container .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar .container .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link.active {
  background-color: rgb(50, 120, 246) !important;
  color: rgb(255, 255, 255) !important;
}

.popover-list {
    padding: 10px;
}
.popover-body {
    padding: 0px;
}
.popover-item {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
}

.popover-item:hover {
    background-color: #f0f0f0;
    color: rgb(50, 120, 246);
    /* Change text color to red on hover */
}