
<app-header></app-header>

<div class="container">

    <div class="intro-section">
        <h1>This is Homepage</h1>
        <p>This page display list of products</p>
        <p>You can select and buy products here</p>
    </div>

    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Search products">
        <select class="form-control product-category">
            <option selected disabled>Category</option>
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
        </select>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let product of products">
            <div class="product-item">
                <img [src]="product.url"
                    alt="product-image" class="product-image">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">{{ product.description}}</p>
                <p class="product-price">Price: ${{ product.price }}</p>
            </div>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center">
<nav>
    <ul class="pagination">
        <li class="page-item" *ngIf="currentPage > 1">
            <a href="#" class="page-link" (click)="onPageChange(1)">First</a>
        </li>
        <li class="page-item" *ngIf="currentPage > 1">
            <a href="#" class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
        </li>
        <ng-container *ngFor="let page of visiblePages">
            <li class="page-item" [ngClass]="{'active': page === currentPage}">
                <a href="#" class="page-link" (click)="onPageChange(page)">{{ page }}</a>
            </li>
        </ng-container>
        <li class="page-item" *ngIf="currentPage < totalPages">
            <a href="#" class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
        </li>
        <li class="page-item" *ngIf="currentPage < totalPages">
            <a href="#" class="page-link" (click)="onPageChange(totalPages)">Last</a>
        </li>
    </ul>
</nav>

</div>

<app-footer></app-footer>